
extends layout

block content
  h1= title

  
  -var result = results

  div(class="container-fluid")
    div(class="row m-1")
      - var i=0 
      each value in result
        -let destination = `dispatch(\"/electronic/electronicupdate?id=${value._id}\")`
        div(class="col-sm-2" /*onclick= `buy(${i})`*/ style="background-color:lavender") category: #{value.category} - item: #{value.item} - price: #{value.price}
          button.btn(class="btn-primary m1-1", onclick=destination) Update 
        -i=i+1
  script.
    function dispatch(path){
      window.location.href=path
    }

  //-   function buy(a){
  //-   alert(`purchased item ${a+1}`)        
  //-  }
