extends layout
 
block content
  h1= title
 
  if (toShow == null)
    h2 No instance to delete
  else
    - let electronicid = toShow._id
    - let category = toShow.category
    - let item = toShow.item
    - let price = toShow.price
    - let actionid = "/resource/electronic/" + electronicid
    script let actionid = "#{actionid}"
    div
      div.row
        div(class='electronicAttr mr-3') electronic ID is:
         div #{electronicid}
      div.row
        div(class='electronicAttr mr-3') electronic category is:
         div #{category}
      div.row
        div(class='electronicAttr mr-3') electronic item is:
         div #{item}
      div.row
        div(class='electronicAttr mr-3') electronic price is:
         div #{price}
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
 
  script.
    function cancel() {
      // Go back to the home page for the costume collection
      window.location.href='/electronics'
    }
  script.
    function deleteOnid() {
      console.log("starting delete")
      // delete first
      fetch(actionid, {
        method: 'DELETE'      // Don't need a body for the delete
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeded")
        window.location.href='/electronic'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
      });
    }